{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <section class="articles">

        {% for article in articles %}
            <article>
                <img src={{ article.image }}>
                <div>
                    <h1>{{ article.title }}</h1>
                    <p class="content">{{ article.content | raw }}</p>
                    <div>Ecrit le {{ article.createdAt | date('d/m/Y') }} par {{ article.author }} dans la catégorie {{ article.category.categoryType }}</div>
                    <a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-outline-primary">Lire la suite</a>
                    <hr>
                </div>
            </article> 
        {% endfor %}

    </section>
</main>
{% endblock %}