{% extends 'base.html.twig' %}



{% block title %}Actualités{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Résultats</li>
</ol>

<main>
{% for articlesResult in articlesResult %}
    <article>
        <div>
            <img src={{ articlesResult.image }}>
        </div>
        <div>
            <h1>{{ articlesResult.title }}</h1>
            <p class="content">{{ articlesResult.content | raw }}</p>
            <div>Ecrit le {{ articlesResult.createdAt | date('d/m/Y') }} par {{ articlesResult.author }} dans la catégorie {{ articlesResult.category.categoryType }}</div>
            <hr>
        </div>
    </article>
    {% endfor %}
<main>

{% endblock %}
