{% extends 'base.html.twig' %}



{% block title %}Actualités{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Résultats</li>
</ol>

<main>
{% for articlesResult in articlesResult %}
    <article>
        <img src={{ articlesResult.image }} onclick=location.href="{{ path('show_article', {'id': articlesResult.id}) }}">
        <div>
            <h1 onclick=location.href="{{ path('show_article', {'id': articlesResult.id}) }}">{{ articlesResult.title }}</h1>
            <p class="content" onclick=location.href="{{ path('show_article', {'id': articlesResult.id}) }}">{{ articlesResult.content | striptags | u.truncate(80, '...', false) | raw }}</p>
            {# <div>Ecrit le {{ articlesResult.createdAt | date('d/m/Y') }} par <span>{{ articlesResult.author }}</span> dans la catégorie {{ articlesResult.category.categoryType }}</div> #}
            {# <a href="{{ path('show_article', {'id': articlesResult.id}) }}" class="btn btn-outline-primary">Lire la suite</a> #}
            <hr>
        </div>
    </article>
    {% endfor %}
</main>

{% endblock %}
