{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<main>
    <article id="show">
        <h1>{{ article.title }}</h1>
        <div>Ecrit le {{ article.createdAt | date('d/m/Y') }} par <span>{{ article.author }}</span> dans la catégorie {{ article.category.categoryType }}</div>
        <img src={{ article.image }}>
        <p class="content">{{ article.content | raw }}</p>
    </article> 
<main>
{% endblock %}
