{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<main>
    <article>
        <div>
            <img src={{ article.image }}>
        </div>
        <div>
            <h1>{{ article.title }}</h1>
            <p class="content">{{ article.content | raw }}</p>
            <div>Ecrit le {{ article.createdAt | date('d/m/Y') }} par {{ article.author }} dans la catégorie {{ article.category.categoryType }}</div>
            <hr>
        </div>
    </article> 
<main>
{% endblock %}
